<%= form_with(model: @idea_category, url: ideas_path, local: true) do |f| %>
  <div class="field">
    <%= f.label :name, "カテゴリー名" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :body, "本文" %><br />
    <%= f.text_field :body %>
  </div>
  <div class="submit-btn"><br />
    <%= f.submit "新規登録" %>
  </div>
<% end %>
